<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Проверка маршрута</title>
</head>
<body>
    <h1>Введите данные маршрута</h1>
    <form action="/submit" method="post">
        <label for="departure_place">Место отправления:</label>
        <input type="text" id="departure_place" name="departure_place" required>

        <br><br>

        <label for="destination_place">Место назначения:</label>
        <input type="text" id="destination_place" name="destination_place" required>

        <br><br>

        <input type="submit" value="Отправить">
    </form>
</body>
</html>